.onetimepay {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  img {
    height: 200px;
  }
  .pay-money {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    input {
      padding: 10px;
      outline: none;
    }
    button {
      padding: 10px;
      color: #fff;
      background: #6386ee;
      border: none;
      outline: none;
    }
  }
}
