.partner {
  min-height: 100vh;
  display: flex;
  position: relative;
  .left {
    width: 18%;
    padding: 20px;
    background: #e6787a;
    @media (max-width: 768px) {
      width: 10%;
    }
  }
  .left-head {
    width: 18%;
    padding: 20px;
    background: #e6787a;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    @media (max-width: 500px) {
      h1 {
        font-size: 12px;
      }
    }
  }
  .right {
    width: 82%;
    padding: 20px;
    overflow: hidden;
    @media (max-width: 768px) {
      width: 90%;
    }
    @media (max-width: 500px) {
      padding: 10px;
    }

    .prof-header {
      margin-bottom: 30px;
      height: 60px;
      padding: 0px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #ddd;
      border-radius: 20px;
      @media (max-width: 500px) {
        flex-direction: column;
        padding: 20px 30px;
        gap: 20px;
        text-align: center;
      }
      .prof {
        display: flex;
        align-items: center;
        gap: 6px;
        .prof-tag {
          display: flex;
          // flex-direction: column;
          gap: 3px;
          .type {
            font-size: 12px;
          }
        }
        .ico {
          font-size: 20px;
        }
      }

      @media (max-width: 500px) {
        height: auto;
      }
    }
  }
}
