.card {
  width: 280px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  gap: 16px;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 100%;
  }
  img {
    height: 120px;
    width: 120px;
    text-align: center;
  }
  &:hover {
    background-color: #6386ee;
    color: #fff;
    transition: 0.4s;
  }
}
